.contactForm label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.contactForm .form-control {
  box-shadow: none !important;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-color: #ced4da !important;
}

.btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  padding: 8px 30px;
  text-transform: uppercase;
}
